@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-white: #f1f5f9;
  --background-black: #09090b;
  --text-white: #cbd5e1;
  --text-black: #27272a;
  --main-accent: #d2aa4a;
  --active-accent: #faf7e2;
  --bright-accent: #f7e988;
  --dull-accent: #ac8220;
}

@font-face {
  font-family: 'Ephesis';
  src: url('./assets/fonts/Ephesis.ttf');
}

@font-face {
  font-family: 'Quando';
  src: url('./assets/fonts/Quando.ttf');
}

#page-nav, .logo, .page-links, .social-links, #media-container, #info-container {
  display: flex;
}

#page-nav {
  gap: 36px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-black);
}

.logo {
  gap: 8px;
  align-items: center;
  background: -webkit-linear-gradient(var(--main-accent), var(--bright-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Ephesis';
}

.logo-maintext {
  margin-top: 8px;
  font-size: 2.5rem;
}

.logo-subtext {
  text-align: center;
}

.logo-subtext > h1 {
  font-size: 1rem;
  font-weight: 500;
}

.logo-subtext > h2 {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: 'Quando', 'Times New Roman', serif;
  letter-spacing: 1px;
}

.page-links {
  margin-inline: 16px;
  gap: 24px;
  font-family: 'Quando';
  font-weight: 600
}

.page-links li {
  cursor: pointer;
  list-style: none;
}

.page-links a {
  background: -webkit-linear-gradient(var(--bright-accent), var(--main-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-links a:hover {
  text-decoration: underline;
  color: var(--active-accent);
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.page-links a.active-link {
  text-decoration: underline;
  color: var(--active-accent);
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.social-links {
  gap: 8px;
}

.social-links > img {
  cursor: pointer;
}

#hero-container {
  height: 400px;
  display: grid;
  place-items: center;
}

.hero-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./assets/media/wine-rack.jpeg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(4px);
}

#hero-container > h1 {
  color: white;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 3rem;
}

#hero-container > h1 span {
  font-size: 0.675rem;
}

#media-container {
  gap: 12px;
  padding-inline: 15%;
  height: 600px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-black);
}

.media-card {
  background-color: var(--background-white);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, lightgray, gray) 1;
  color: var(--background-black);
  font-family: 'Sanchez', Times, serif;
  letter-spacing: 1px;
  text-align: center;
}

.media-card:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);
}

.media-card img {
  height: 300px;
  width: 300px;
}

.media-text {
  padding: 8px 0 16px 0;
  font-size: 2rem;
}

#info-container {
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(var(--main-accent), var(--dull-accent));
}

#info-text {
  font-family: 'Quando';
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

#info-text > h1 {
  font-size: 2rem;
  text-decoration: underline;
}

#page-foot {
  height: 50px;
  display: grid;
  place-items: center;
  background-color: var(--background-black);
  color: var(--text-white);
}